<template id="basicLayout">
  <div class="bg-pixel-28 h-[100dvh] grid grid-rows-[auto_1fr_auto]">
    <header class="flex justify-center items-center p-2 text-3xl">
      <a href="/" kll-ctrl="link" class="text-pixel-38 font-bold">
        <span class="text-pixel-43">BEN</span>TO</a
      >
    </header>
    <main kll-ctrl="translate">
      <div class="h-full w-full relative overflow-hidden">
        <div
          class="inset-0 absolute overflow-y-auto main-content"
          id="main-content"
        >
          <slot></slot>
        </div>
      </div>
    </main>
    <footer class="flex flex-col gap-2 justify-center p-1">
      <nav class="text-lg flex gap-3 justify-center" kll-ctrl="translate">
        <a href="/" kll-ctrl="link" data-trans="home">Home</a>
        <a href="/" kll-ctrl="link" data-trans="about">About</a>
        <a href="/" kll-ctrl="link" data-trans="contact">Contact</a>
      </nav>
      <div
        class="text-xs flex gap-1 w-full justify-end p-1 text-rd-urban_gray"
        kll-ctrl="updateInfo"
      >
        <div class="flex gap-1">
          <span data-trans="version"></span>
          <span data-version></span>
        </div>
        -
        <div class="flex gap-1">
          <span data-trans="updated-at"></span>
          <span data-update></span>
        </div>
      </div>
    </footer>
  </div>
</template>
